{% extends "base.html" %}
{% load static %}
{% block title %}Главная страница{% endblock title %}
{% block content %}
<div class="profile-container">
    <div class="avatar-section">
        {% comment %} <img src={{ profile.avatar.url }} alt="Профиль пользователя" class="avatar-image">
        <button class="btn remove-avatar">Удалить аватар</button>
        <input type="file" id="avatar-upload" class="avatar-upload" hidden>
        <label for="avatar-upload" class="btn select-avatar">Выбрать аватар</label> {% endcomment %}
        {% for field in form %}
        <p>{{ field.label_tag }} 
            <br>
            {{ field }}
        </p>
        {% endfor %}
    </div>
    <div class="login-info">
        <h1>{{ profile.username }}</h1>
        {% if profile.group.name == 'valar' %}
            <h1>ГОСПОДИН АДМИНИСТРАТОР!</h1>
        {% endif %}
        <h3>{{ profile.sex }}</h3>
        <h3>21 год</h3>
        <h3>На сайте с: {{ profile.date_joined }}</h3>
    </div>
    <div class="tariff-info">
        <h1>Информация о тарифе</h1>
        <h3>Название тарифа: Галактический</h3>
        <h3>Скорость передачи данных: 100 Гбит/с</h3>
        <h3>Цена: 1500 кредитов в месяц</h3>
        <h3>Статус: Активен</h3>
    </div>
</div>
{% endblock content %}