{% load static %}
<section class="header">
    <nav class="nav">
        <div class="nav-image">
            <a href="{% url "home:homepage" %}"><img src={% static "img/logotype.png" %}></a>
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="{% url "home:homepage" %}">Главная страница</a></li> 
                <li><a href="{% url "plans:plans-list" %}">Тарифы</a></li>
                <li><a href="#">Как это работает</a></li>
                <li><a href="{% url "news:news-list" %}">Новости</a></li>
                <li><a href="#">О нас</a></li>
            </ul>
        </div>
        <div class="authorization-form">
            <ul>
                {% if user.is_authenticated %}
                    {% if perms.news.add_news %}
                        <li><a href="{% url "news:news-add" %}">Добавить новость</a></li>    
                    {% endif %}
                <li><a href="{% url "personal:personal-detail" user.id %}">{{ user.username }}</a></li>
                <li><a href="{% url 'logout' %}">Выйти</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Вход</a></li>
                <li><a href="{% url 'registration' %}">Регистрация</a></li>
                {% endif %}
                
            </ul>
        </div>
    </nav>
</section>