{% load static %}
<section class="header">
    <nav class="nav">
        <div class="nav-image">
            <a href="{% url 'home:homepage' %}">
                <img src="{% static 'img/logotype.png' %}" alt="Логотип">
            </a>
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="{% url 'home:homepage' %}">Главная страница</a></li> 
                <li><a href="{% url 'plans:plans-list' %}">Тарифы</a></li>
                <li><a href="{% url 'plans:lika' %}">Как это работает</a></li>
                <li><a href="{% url 'news:news-list' %}">Новости</a></li>
                <li><a href="#">О нас</a></li>
            </ul>
        </div>
        <div class="authorization-form">
            {% if user.is_authenticated %}
                {% if perms.news.add_news %}
                    <form action="{% url 'news:news-add' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="header-button">Добавить новость</button>
                    </form>
                {% endif %}
                    <form action="{% url 'personal:personal' user.id %}" method="get">
                        <button type="submit" class="header-button">{{ user.username }}</button>
                    </form>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="header-button">Выйти</button>
                </form>
            {% else %}
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="header-button">Войти</button>
                </form>
                <form action="{% url 'registration' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="header-button">Регистрация</button>
                </form>
            {% endif %}
        </div>
    </nav>
</section>
