<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
     <!-- Add the slick-theme.css if you want default styling -->
     <link rel="stylesheet" type="text/css" href="slick/slick/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="slick/slick/slick-theme.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Space!</title>
</head>
<body class="body">
    <section class="header">
        <nav class="nav">
            <div class="nav-image">
                <a href="#">
                    <img src="img/logo.png" alt="Логотип">
                </a>
            </div>
            <div class="nav-links">
            <ul>
                <li><a href="#">Главная страница</a></li> 
                <li><a href="#">Тарифы</a></li>
                <li><a href="#">Как это работает</a></li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">О нас</a></li>
            </ul>
            </div>
            <div class="authorization-form">
            <form action="{% url 'news:news-add' %}" method="post">
                <button type="submit" class="header-button">Добавить новость</button>
            </form>
            <form action="{% url 'personal:personal' user.id %}" method="get">
                <button type="submit" class="header-button">ЮзерНейм</button>
            </form>
            <form action="{% url 'logout' %}" method="post">
                <button type="submit" class="header-button">Выйти</button>
            </form>
            <!-- <form action="{% url 'login' %}" method="post">
                <button type="submit" class="header-button">Войти</button>
            </form>
            <form action="{% url 'registration' %}" method="post">
                <button type="submit" class="header-button">Регистрация</button>
            </form> -->
            </div>
        </nav>
    </section>
    <section class="container-news">
            <div class="news-item">
                <!--Контейнер автора, категории и даты-->
                <div class="news-author-container">
                    <div class="news-author-img">
                        <img src='img/hist_3.jpg' alt="Профиль пользователя" class="avatar-image">
                    </div>
                    <div class="news-author-category-date">
                        <div class="news-author-username">
                            <p><a href="#"personal:personal" news.author.id %}">admin</a></p>
                        </div>
                        <div class="news-category-date">
                            <p class="news-category">Новости</p>
                            <p>&nbsp;</p> 
                            <p class="news-date">Вчера</p>
                        </div>
                    </div>
                </div>
                <!--Контейнер текста-->
                <div class="news-text-container">
                    <a href="{% url "news:news-detail" news.id %}">
                        <h2 class="news-title">Исследование планеты «Квазар»</h2>
                        <p class="news-content">
                            Исследование планеты системы «Квазар» вызвало бурную реакцию в мире астрономии.
                        </p>
                        <div class='news-image-container'>
                            <img src="img/a_gtl.jpg" alt="">
                        </div>
                    </a>
                </div>
                <!--Контейнер лайков и комментариев-->
                <div class="news-reaction-container">
                    <!-- <button class="news-reaction-button">
                        <div class="news-like-button">
                            <ion-icon name="rocket-outline"></ion-icon>
                            <p>234</p>
                        </div>
                    </button> -->
                    <a href="#">
                    <button class="news-reaction-button">
                        <div class="news-comment-button">
                            <ion-icon name="chatbox-outline"></ion-icon>
                            <p>25</p>
                        </div>
                    </button>
                    </a>
                </div>
            </div>
        </section>
    <section class="footer"> 
        <nav class="foot-links"> 
            <ul> 
                <li><a href="index.html">H.M.Sateline Corporation © 2023</a></li>  
                <li><a href="#">Лицензии и сертификаты</a></li> 
                <li><a href="#">Правовая информация</a></li> 
            </ul> 
        </nav> 
    </section>
</body>