<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
     <!-- Add the slick-theme.css if you want default styling -->
     <link rel="stylesheet" type="text/css" href="slick/slick/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="slick/slick/slick-theme.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Space!</title>
</head>
<body class="body">
    <section class="header">
        <nav class="nav">
            <div class="nav-image">
                <a href="#">
                    <img src="img/logo.png" alt="Логотип">
                </a>
            </div>
            <div class="nav-links">
            <ul>
                <li><a href="#">Главная страница</a></li> 
                <li><a href="#">Тарифы</a></li>
                <li><a href="#">Как это работает</a></li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">О нас</a></li>
            </ul>
            </div>
            <div class="authorization-form">
            <form action="{% url 'news:news-add' %}" method="post">
                <button type="submit" class="header-button">Добавить новость</button>
            </form>
            <form action="{% url 'personal:personal' user.id %}" method="get">
                <button type="submit" class="header-button">ЮзерНейм</button>
            </form>
            <form action="{% url 'logout' %}" method="post">
                <button type="submit" class="header-button">Выйти</button>
            </form>
            <!-- <form action="{% url 'login' %}" method="post">
                <button type="submit" class="header-button">Войти</button>
            </form>
            <form action="{% url 'registration' %}" method="post">
                <button type="submit" class="header-button">Регистрация</button>
            </form> -->
            </div>
        </nav>
    </section>
    <div class="profile-main-container">
        <div class="profile-container-info-container">
            <div class="profile-container-info">
                <div class="profile-container-avatar">
                    <img src="img/a_gtl.jpg" alt="">
                </div>
                <div class="profile-container-element">
                    <h3 class="text-small">Логин:</h3>
                    <h2>admin</h2><!--Логин пользователя-->
                </div>
                <div class="profile-container-element">
                    <h3 class="text-small">Номер телефона:</h3>
                    <h2>+1-000-000-80-65</h2><!--номер пользователя-->
                </div>
                <div class="profile-container-element">
                    <div class="profile-container-plan">
                        <div class="profile-container-plan-icon">
                            <img src="img/jupiter.png" alt="">
                        </div>
                        <div class="profile-container-plan-info">
                            <h3>Тарифный план:</h3>
                            <a href=""><p class="font-profile-plan">Юпитер</p></a>
                        </div>
                    </div>
                </div>
                <div class="profile-container-element">
                    <div class="profile-container-plan">
                        <div class="profile-container-plan-icon">
                            <img src="img/checkmark.png" alt="">
                        </div>
                        <div class="profile-container-plan-info">
                            <h2>Оплачено</h2>
                            <h3>Следующее списание: 24 янв.</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-container-app-container">
                <div class="profile-container-app-block">
                    <div class="profile-container-app">
                        <div class="profile-container-app-icon">
                            <img src="img/satellite_app.png" alt="">
                        </div>
                        <div class="profile-container-app-info">
                            <h2 class="text-large">HMSateline</h2>
                            <p class="text-small">Встречайте новое приложение</p>
                            <h3 class="text-medium">Подробнее</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-container-data">
            <div class="profile-nav-container">
                <div class="profile-nav">
                    <a href="#">Главная</a>
                </div>
                <div class="profile-nav">
                    <a href="#">Детализация</a>
                </div>
                <div class="profile-nav">
                    <a href="#">Семья</a>
                </div>
                <div class="profile-nav">
                    <a href="#">Настройки</a>
                </div>
            </div>
            <div class="profile-history-container">
                <div class="profile-history">
                    <a href="#">
                        <img src="img/hist_1.jpg" alt="">
                    </a>
                </div>
                <div class="profile-history">
                    <a href="#">
                        <img src="img/hist_2.jpg" alt="">
                    </a>
                </div>
                <div class="profile-history">
                    <a href="#">
                        <img src="img/hist_3.jpg" alt="">
                    </a>
                </div>
                <div class="profile-history">
                    <a href="#">
                        <img src="img/hist_4.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="profile-offer-container">
                <div class="profile-offers">
                    <div class="profile-offer">
                        <h3>Оставьте свой email</h3><!--Текст предложения-->
                        <div class="profile-offer-block">
                            <div class="profile-offer-block-text">
                                <p class="profile-offer-block-small-text">
                                    Подарки и скидки придут к вам сами
                                </p>
                                <p class="profile-offer-block-big-text">
                                    <a href="">Получить</a>
                                </p>
                            </div>
                            <div class="profile-offer-block-icon">
                                <img src="img/alien.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="profile-offer">
                        <h3>Оставьте свой email</h3><!--Текст предложения-->
                        <div class="profile-offer-block">
                            <div class="profile-offer-block-text">
                                <p class="profile-offer-block-small-text">
                                    Подарки и скидки придут к вам сами
                                </p>
                                <p class="profile-offer-block-big-text">
                                    <a href="">Второй</a>
                                </p>
                            </div>
                            <div class="profile-offer-block-icon">
                                <img src="img/alien.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="profile-offer">
                        <h3>Оставьте свой email</h3><!--Текст предложения-->
                        <div class="profile-offer-block">
                            <div class="profile-offer-block-text">
                                <p class="profile-offer-block-small-text">
                                    Подарки и скидки придут к вам сами
                                </p>
                                <p class="profile-offer-block-big-text">
                                    <a href="">Третий</a>
                                </p>
                            </div>
                            <div class="profile-offer-block-icon">
                                <img src="img/alien.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="profile-offer">
                        <h3>Оставьте свой email</h3><!--Текст предложения-->
                        <div class="profile-offer-block">
                            <div class="profile-offer-block-text">
                                <p class="profile-offer-block-small-text">
                                    Подарки и скидки придут к вам сами
                                </p>
                                <p class="profile-offer-block-big-text">
                                    <a href="">Четвертый</a>
                                </p>
                            </div>
                            <div class="profile-offer-block-icon">
                                <img src="img/alien.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="scroll">
                    Тут скролл
                </div>
            </div>
            <div class="profile-plans-container">
                <div class="profile-plan">
                    <div class="profile-plan-title">
                        <img src="img/satellite.png" alt="">
                        <p>Спутниковая связь</p>
                    </div>
                    <div class="profile-plan-card">
                        <div class="profile-plan-icon">
                            <p>Юпитер</p> <!-- Тариф пользователя -->
                            <img src="img/jupiter.png" alt=""> <!-- Иконка тарифа пользователя-->
                            <p>1400 руб/мес.</p> <!-- Месячная цена-->
                        </div>
                        <div class="profile-plan-info-container">
                            <div class="profile-plan-info">
                                <div class="profile-plan-element">
                                    <img src="img/satellite_tarif.png" alt="">
                                    <p>Спутник - Квазар III</p>
                                    <div></div> <!--div для шкалы оставшихся минут/гигобайт-->
                                </div>
                                <div class="profile-plan-element">
                                    <img src="img/satellite_tarif.png" alt="">
                                    <p>Спутник - Квазар III</p>
                                    <div></div> <!--div для шкалы оставшихся минут/гигобайт-->
                                </div>
                                <div class="profile-plan-element">
                                    <img src="img/satellite_tarif.png" alt="">
                                    <p>Спутник - Квазар III</p>
                                    <div></div> <!--div для шкалы оставшихся минут/гигобайт-->
                                </div>
                            </div>
                            <div class="profile-plan-info-buttons">
                                <button>Сменить тариф</button>
                                <button>Подробнее</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="footer"> 
        <nav class="foot-links"> 
            <ul> 
                <li><a href="index.html">H.M.Sateline Corporation © 2023</a></li>  
                <li><a href="#">Лицензии и сертификаты</a></li> 
                <li><a href="#">Правовая информация</a></li> 
            </ul> 
        </nav> 
    </section>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="slick/slick/slick.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('.profile-offers').slick({
                arrows: false,
                autoplay: true,
                autoplaySpeed:  4500,
                variableWidth: true,
                dots: true,
                infinite: true,
                slidesToShow: 2,
                slidesToScroll: 1
            });
        });
    </script>

</body>