{% extends "base.html" %}
{% load static %}
{% block title %}
    {% if '/edit/' in request.path %}
    Редактирование публикации
    {% elif "/delete/" in request.path %}
    Удаление публикации
    {% else %}
    Добавление публикации
    {% endif %}
{% endblock title %}
{% block content %}
    <section class="container-news">
        <div class="news-item">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Save">
            </form>
        </div>
    </section>
{% endblock %}