{% extends "base.html" %}
{% load static %}
{% block content %}
    {% for news in news_list  %}
    <section class="container-news">
        <div class="news-item">
            <div class="news-author-container">
                <div class="news-author-img">
                    <img src={{ news.author.avatar.url }} alt="Профиль пользователя" class="avatar-image">
                </div>
                <div class="news-author-category-date">
                    <div class="news-author-username">
                        <p>{{ news.author.username }}</p>
                    </div>
                    <div class="news-category-date">
                        <p>{{ news.category }}</p>
                        <p>&nbsp;</p> 
                        <p>{{ news.created_at }}</p>
                    </div>
                </div>
            </div>
            <div class="news-text-container">
                <h2 class="news-title">{{ news.title }}</h2>
                <p class="news-content">
                    {{ news.text|truncatewords:20 }}
                <img src={{ news.image.url }} alt="">
            </div>
            <div class="news-reaction-container">
                <div class="news-like-container">
                    <button class="news-like-button">
                        <div class="news-like-icon">
                            <img src="{% static "ico/like_0.png" %}" alt="">
                        </div>
                        <span class="news-like-counter">
                            
                        </span>
                    </button>
                </div>
                <div class="news-comment-container">
                    <button class="news-comment-button"></button>
                </div>
            </div>
        </div>
        <!-- More news items here -->
    </section>
    {% endfor %}
{% endblock %}